<style type="text/css">

html {
}

body {
    font-family: Arial;
    background: #888;
}

.clear {
    clear: both;
}

#test {
    font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding: 2px;
	background: white;
	color: red;
}

#top {
	height: 90px;
    background: #55a;
    white-space: nowrap;
    min-width: 960px;
}

div#logo {
    padding: 10px 0 10px 30px;
    float: left;
}

div#top div#buttons {
    float: right;
    margin-right: 10px;
    height: 100%;
    white-space: nowrap;
}

div#top div#buttons a {
	float: left;
	height: 100%;
    background: #55a;
    color: #fff;
    font-size: 18px;
    text-decoration:none;
    text-align: center;
    vertical-align: middle;
}

div#top div#buttons a.social_link {
    width: 90px;
    margin-right: 50px;	
}

div#top div#buttons a.social_link img {
	padding-top: 10px;
}

div#top div#buttons a#about_link {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    width: 150px;    
}

div#top div#buttons a#about_link p {
	padding-top: 35px;
}

div#top div#buttons a:hover {
    background: #338;	
}

div#top div#tagline {
	font-size: 16px;
	float: left;
	color: #fff;
	margin-left: 25px;
}

div#top div#tagline p {
	padding-top: 35px;
}

#app {
	position: relative;
    height: 710px;
    border-bottom: 4px solid #888;    
}

#app div#loading {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -80px 0 0 -80px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	z-index: 100;
	border-radius: 5px;
	background: #333;
	padding: 20px 0;
	width: 160px;
    color: white;
    opacity:0.75;
    filter:alpha(opacity=75);    
}

#main {
	position: relative;
	width: auto;
	height: 600px;
    display: block;
    position: relative;
}

#map {
    width: auto;
    height: 600px;
}

#map img {
    max-width: none;
}

#left {
    position: absolute;
    float: left;
    width: 270px;
    left: -250px;
    top: 0;
    background: #404040;
    display: block;
    height: 565px;
    opacity:0.9;
    filter:alpha(opacity=90);    
}

#controls {
	width: 250px;
}

button.switch {
	position: absolute;
	top: 0px;
	left: 250px;
	width: 20px;
	height: 565px;
	float: right;
	font-weight: bold;
}

#controls ul {
    width: 250px;
}

#controls .content {
    height: 460px;
    width: 250px;
}

#controls button {
    text-align: left;
    color: white;
    width: 100%;
    font-size: 16px;
    margin: 0;
    border: 0;
    border-bottom: 1px solid black;    
}

#controls button.title {
    font-weight: bold;
    background: #222;
    text-align: center;
    padding: 6px;
}

#controls ul {
    margin: 0;
}

#controls button.continent, #controls button.layer {
    font-weight: bold;
    background: #444;
}

#controls button.country {
    background: #666;
}

#controls ul.countries {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 310px;
}

#controls ul#values {
    text-align: left;
    color: #fff;
}

#controls ul#values li {
    margin-top: 5px;    
    height: 45px;
}

#controls ul#values li p {
    padding-top: 10px;
    font-size: 16px;
}

#controls ul#values li table {
    width: 40px;
    height: 40px;
    valign: center;
    align: center;
    float: left;
    text-align: center;
}

#timeline {
    height: 110px;
}

ul#types {
	position: absolute;
	width: 75px;
	top: 0px;
	right: 1px;
    margin: 0 0 10px 0;
    text-align: center;
    opacity:0.8;
    filter:alpha(opacity=80);    
}

ul#types li {
    font-size: 14px;
    float: left;
}

ul#types li button.selected {
    background: #404040;
    color: #F7F7F7;
}

ul#types li label {
    width: 75px;
    height: 50px;
    background:#CCCCCC;
    border:1px solid #808080;
    display: block;
    overflow: none;
}

ul#types li label span {
    text-align:center;
    font-size: 12px;
    padding: 0;
    display: block;
    position: relative;
}

ul#types li label span p {
	position: absolute;
	bottom: 0px;
	left: auto;
	width: 75px;
}

ul#types li label input {
    display: none;
}

ul#types li label input:checked+span {
    background: #404040;
    color: #F7F7F7;
}

div#bottom {
    margin-top: 20px;
    font-size: 12px;
    margin-bottom: 20px;
}

div#bottom div#sponsor {
	margin-top: 20px;
}

div#bottom div#sponsor img {
	float: left;
}

div#bottom div#sponsor p {
	margin-left: 80px;
    font-style:italic
}

div#bottom div#about {
    color: #ccc;
    width: 400px;
    float: left;
    margin-left: 20px;
    background: #444;
    padding: 30px;
    font-size: 14px;
}

div#bottom div#about h2 {
	text-align: center;
    font-size: 24px;
}

div#bottom div#text {
	margin-left: 420px;
}

div#bottom div#text div {
	float: left;
	width: 30%;
	margin: 0 5% 0 5%;
}

div#bottom div#text h2 {
    color: #071e84;
    font-weight: bold;
    font-size: 16px;
}

div#bottom span#number {
    color: #071e84;
    font-weight: bold;
    white-space:nowrap; 
}

div.chart {
    opacity:0.85;
    filter:alpha(opacity=85);
}

</style>
