<style type="text/css">

body {
    font-family: Arial;
    background: #ddd;
}

.clear {
	clear: both;
}

#main {
	height: 800px;
}

#map {
	width: auto;
	height: 600px;
}

#map img {
    max-width: none;
}

#timeline {
	height:90px;
}

#controls {
	padding-right: 10px;
}

#controls .content {
	height: 550px;
	background: #eee;
}

#controls button.title {
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	background: #444;
	color: white;
	text-align: center;
	border-radius: 5px;
	padding: 6px;
}

#controls div#logo {
	margin: 20px auto;
	text-align: center;
}

#controls ul {
	margin: 0;
}

#controls button.continent {
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	background: #666;
	color: white;
	text-align: left;
}

#controls button.country {
	width: 100%;
	font-size: 12px;
	font-weight: bold;
	background: #888;
	color: white;
	text-align: left;
}

#controls ul.countries {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 400px;
}

#controls ul#values {
	text-align: left;
    border: 1px solid #cccccc;
    padding: 10px;
}

#controls ul#values li {
	margin-top: 5px;	
	height: 40px;
}

#controls ul#values li p {
    padding-top: 10px;
    font-size: 16px;
}

#controls ul#values li table {
    width: 40px;
    height: 40px;
    valign: center;
    align: center;
    float: left;
    text-align: center;
}

#controls p#info {
	margin-top: 30px;
	color: #071e84;
	font-weight: bold;
}

ul#types {
	margin: 0 0 10px 0;
	text-align: center;
}

ul#types li {
	float: left;
	font-size: 14px;
}

ul#types li label {
    width: 95px;
    height: 65px;
    background:#CCCCCC;
    border:1px solid #D0D0D0;
    display: block;
    overflow:auto;
}

ul#types li label span {
	text-align:center;
    font-size: 16px;
    padding:5px 0px;
    display:block;
}

ul#types li label input {
	position: absolute;
	top: -20px;
}

ul#types li label input:checked+span {
	background: #404040;
	color: #F7F7F7;
	
}

#info h2 {
    color: #071e84;	
}

#info span#number {
    color: #071e84;
    font-weight: bold;
    white-space:nowrap; 
}

</style>
