<style type="text/css">

html {
	background: #ccc;
}

body {
    font-family: Arial;
}

.clear {
	clear: both;
}

#map {
	width: auto;
	height: 600px;
	margin-bottom: 20px;
}

#map img {
    max-width: none;
}

#legend {
	font-size: 16px;
	background: white;
	padding-right: 10px;
	border-right: 2px solid #aaa;
}

#legend div#logo {
	margin: 20px auto;
	text-align: center;
}

#legend ul {
	margin: 20px auto;
	padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

#legend ul li {
	margin-top: 5px;	
}

#legend ul#values li {
    height: 40px;
}

#legend ul#values li p {
    padding-top: 10px;
    font-size: 16px;
}

#legend ul#values li table {
    width: 40px;
    height: 40px;
    valign: center;
    align: center;
    float: left;
    text-align: center;
}

#legend p#info {
	margin-top: 30px;
	color: #071e84;
	font-weight: bold;
}

#controls {
	background: #ccc;
}

ul#continents {
	margin: 10px 0 0 0;
	text-align: center;
}

ul#continents li {
	float: left;
	font-size: 14px;
}

ul#continents li label {
    width:110px;
    margin: 2px 0 0 0;
    background:#EFEFEF;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;    
    border:1px solid #D0D0D0;
    overflow:auto;
}

ul#continents li label span {
    text-align:center;
    font-size: 16px;
    padding:5px 0px;
    display:block;
}

ul#continents li label input {
	position: absolute;
	top: -20px;
}

ul#continents li label input:checked+span {
	background: #404040;
	color: #F7F7F7;
}

#info h2 {
    color: #071e84;	
}

#info span#number {
    color: #071e84;
    font-weight: bold;
    white-space:nowrap; 
}

</style>
