<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
		    <div id="controls">
		        <div id="logo">
		            <img src="images/logo.jpg"/>
		        </div>
                <p id="info">
                    The Needs Report helps identify the greatest need in communities around the world, so aid and social services organizations can 
                    move the right resources to the right places, based on what the people living in those communities feel the need the most.
                </p>		        
	        </div>
		</div>
        <div class="span9">
            <!-- <div id="control">
	            <ul id="continents" ng-init="selected={continent:''}">
	                <li ng-repeat="continent in CONTINENTS">
	                    <label><input name="continent" type="radio" ng-model="selected.continent" value="{{continent}}" ng-click="selectContinent(continent)"/><span>{{continent}}</span></label>
	                </li>
	            </ul>
            </div>
            <div class="clear"></div>-->
            <div id="map">Loading...</div>
            <ul ng-init="stypes=[]" id="types">
                <li ng-repeat="type in TYPES">
                    <label>
                        <input class="type" type="checkbox" ng-model="stypes[type]" ng-init="stypes[type]=true" ng-change="changeTypes(type)">
	                    <span>
		                    <img src="images/{{type}}3.png"/><br/>
		                    {{type}}
	                    </span>
                    </label>
                </li>
            </ul>
            <div class="clear"></div>
            <div id="timeline"></div>            
            <!--<ul id="values">
                <li><table><tr><td><img src="images/Water1.png"/></td></tr></table><p>1 - 9 reports</p></li>
                <li><table><tr><td><div class="img"><img src="images/Water2.png"/></td></tr></table><p>10 - 99 reports</p></li>
                <li><table><tr><td><div class="img"><img src="images/Water3.png"/></td></tr></table><p>100 - 999 reports</p></li>
                <li><table><tr><td><div class="img"><img src="images/Water4.png"/></td></tr></table><p>1000 - 9999 reports</p></li>
                <li><table><tr><td><div class="img"><img src="images/Water5.png"/></td></tr></table><p>10000+ reports</p></li>
            </ul>-->
            <div id="info">
	            <div class="span1"></div>
	            <div class="span5">
	                <h2>CREATE A NEED</h2>
	                <p>
	                    Add your need online right now, or text it to <span id="number">011-987-654-3210</span> anywhere in the world to get started -
	                    we will automatically add it to the Needs Map, so social service organizations know what the people in your 
	                    community really care about.
	                </p>
	            </div>
	            <div class="span5">
	                <h2>NEED NEWS</h2>
	                <p>
	                    We're always mining our Needs Data to see what the greatest needs are, all 
	                    over the world, looking for patterns and distilling all our information into helpful
	                    reports for aid workers and social services organizations.
	                </p>
	            </div>
            </div>
        </div>
	</div>
</div>
