<!doctype html>
<html xmlns:ng="http://angularjs.org" ng-app="needsreport">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>The Needs Report</title>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/app.css"/>
    <link rel="shortcut icon" href="{{STATIC_URL}}images/favicon.ico">
</head>
<body>
    {% if TEST_SITE %}
	    <div id="test">
			This site is used for testing. Users can send in texts to (917)
			746-3331 to try the test platform. The data below is not accurate.	    
	    </div>
    {% endif %}
    <div id="top">
	    <div id="logo">
	        <img src="{{STATIC_URL}}images/logo.png"/>
	    </div>
	    <div id="tagline">
	       <p>
	           Text your needs to: {{SMS_NUMBER}}
	       </p>
	    </div>
	    <div id="buttons">
            <a href="https://twitter.com/TheNeedsReport" class="social_link"><img src="{{STATIC_URL}}/images/twitter.png"/></a>
            <a href="http://www.facebook.com/pages/The-Needs-Report/344576305557174" class="social_link"><img src="{{STATIC_URL}}/images/f_logo.png"/>
            <a href=""#" id="about_link"><p>ABOUT US</p></a>
        </div>
    </div>
    <div class="clear"></div>
    <div id="app" ng-view>
        <div id="loading"><img src="{{STATIC_URL}}images/loading.gif"><br/>LOADING</div>
    </div>
    <div class="clear"></div>
    <div id="bottom">
        <div id="about">
        	<h2>About Us</h2>
        	<br/>
	        The Needs Report helps identify the greatest need in communities around the world, so aid and social services organizations can 
	        move the right resources to the right places, based on what the people living in those communities feel they need the most.
	        <div id="sponsor">
                <img src="{{STATIC_URL}}images/EWNewLogoGreen.jpg"/>
                <p>The Needs Report is a fiscally sponsored project of Empowerment WORKS, a 501c3 nonprofit organization.  Donations are tax deductible.</p>
	        </div>
        </div>
        <div id="text">
	        <div>
		        <h2>CREATE A NEED</h2>
		        <p>
		            {% if TEST_SITE %}
		            <p>
			            This is a test site that allows you to have a first look at the features that we are developing for The Needs Report. 
			            Please try it for yourself! Text {{SMS_NUMBER}} from anywhere in the world to get started – 
			            just text a need for your community to {{SMS_NUMBER}}, respond to the follow-up text with your location and watch 
			            your need appear on the map (refresh for faster map update).
		            </p>
		            <br/>
                    <p>
                        While you are here, try out the current features of the site.
                        We welcome any comments or suggestions; please email us with feedback at <a href="mailto:needs.report@gmail.com">needs.report@gmail.com</a>.
                    </p>
		            {% else %}
		            Add your need online right now, or text it to <span id="number">{{SMS_NUMBER}}</span> anywhere in the world to get started -
		            we will automatically add it to the Needs Map, so social service organizations know what the people in your 
		            community really care about.
		            {% endif %}
		         </p>
	        </div>
	        <div>
		        <h2>NEED NEWS</h2>
		        <p>
					As data comes in, we will be mining our Needs Data to see what
					the greatest needs are, all over the world, looking for patterns and
					distilling information into helpful reports for aid workers and social
					services organizations.
		        </p>
	        </div>
        </div>
	    <div class="clear"></div>
	    <br/>
    </div>
    <script type="text/javascript">
        var STATIC_URL = "{{STATIC_URL}}";
    </script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/markerclusterer.js"></script>    
    <script type="text/javascript" src="{{STATIC_URL}}js/app.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/controller.js"></script>
    <script type="text/javascript" src="//www.google.com/jsapi"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>    
	<script type="text/javascript" src="//code.highcharts.com/stock/highstock.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/highcharttheme.js"></script>	
    <script type="text/javascript">
        google.load('visualization', '1', {packages: ['corechart']});
        window.onload = function(e) {
        	var link = document.getElementById("about_link");
        	link.onclick = function(e) {
        		window.scrollTo(800,800);
                e.preventDefault();
        	};
        }
    </script>
    {% if GA_ID %}
	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', '{{GA_ID}}']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
	{% endif %}
</body>
</html>
